{% extends 'base.html' %}

{% block title %}Create Complaint{% endblock %}

{% block content %}
<div class="create-complaint-container">
    <button class="back-button" onclick="goBack()">Go Back</button> <!-- Back button -->
    <h2>Create Complaint</h2>
    <form action="" method="post">
        {% csrf_token %}
        <table class="create-complaint-table">
            {{ form.as_table }}
        </table>
        <input type="submit" class="submit-button" value="Submit" />
    </form>
</div>

<style>
    .create-complaint-container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .create-complaint-table {
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;
    }

    .create-complaint-table th,
    .create-complaint-table td {
        padding: 10px;
        border: 1px solid #ccc;
        text-align: left;
    }

    .submit-button {
        margin-top: 20px;
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    .submit-button:hover {
        background-color: #0056b3;
    }

    .back-button {
        text-decoration: none;
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    .back-button:hover {
        background-color: #0056b3;
    }

    h2 {
        font-size: 24px;
    }
</style>

<script>
    // JavaScript function to go back to the previous page
    function goBack() {
        window.history.back();
    }
</script>
{% endblock %}

